<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="prj3.dao.mapper.admin_account_mapper">

<!-- account 전체 조회 -->
	<resultMap type="avd" id="accountAllView">
		<result column="bank" property="bank"/>
		<result column="account_number" property="account_number"/>
	</resultMap>
	<select id="selectAllAccount" resultMap="accountAllView">
		select	bank, account_number
		from		account
	</select>	
	
	<!-- 계좌 추가 -->
	<insert id="insertAccount" parameterType="aVO">
		insert into account(bank, account_number)
		values(#{bank}, #{account_number})
	</insert>
	<!-- 계좌 삭제 -->
	<delete id="deleteAccount" parameterType="String">
		delete from	account
		where 			bank=#{bank}
	</delete>
	
</mapper>











